@import "mixins";

.base-grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    .menu-bar-container {
        display: flex;
        flex-direction: row;            
        margin-bottom: 10px;
        min-height: 40px;
        max-height: 40px;

        .searchbox {
            margin-bottom: 1px;
            margin-top: 1px;
            height: inherit;
        }
        
        .menu-bar {
            flex: 1;
        }
    }    

    .grid-container {
        overflow: auto;
        flex: 1;  
        position: relative;

        .grid-list {
            overflow-x: initial;
            overflow-y: initial;
        }
    }        
}