@import "mixins";

.identity-view {    
    padding: 0;
    margin: 0;

    &.small {
        font-size: 12px;

        img {
            width: 16px;
            height: 16px;
        }
    }

    &.medium {
        font-size: 15px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    &.large {
        font-size: 18px;

        img {
            width: 24px;
            height: 24px;
        }
    }

    img {
        margin-right:2px;
        vertical-align: text-top;        
    }

    .display-name {
        flex: 1;
    }
}