.input-error {
    font-size: 12px;
    font-weight: 400;
    color: #a80000;
    margin-top: 2px;
    word-wrap: break-word;
    
    .error-icon {
        vertical-align: middle;
        font-size: 14px;
        margin-right: 3px;
    }
}