.input-error {
    display: flex;

    .error-icon {
        vertical-align: middle;
        font-size: 14px;
        margin-right: 3px;
        font-weight: 400;
        color: #a80000;
        padding-top: 2px;
    }

    .error-text {
        word-wrap: break-word;
        word-break: break-word;
        flex: 1;
        font-size: 12px;
        font-weight: 400;
        color: #a80000;
        padding: 0;
        margin: 0;
    }
}