.message-panel {
    padding: 16px;
    display: flex;
    justify-content: center;
    
    .icon {
        padding-top: 8px;
    }

    .message-text {
        margin-left: 5px;
    }

    &.message-info {
        background-color: #deecf9;

        .icon {
            color: #0078d7;
        }
    }

    &.message-warning {
        background-color: #fff4ce;

        .icon {
            color: #f8a800;
        }
    }

    &.message-error {
        background-color: #fde7e9;

        .icon {
            color: #da0a00;
        }
    }

    &.message-success {
        background-color: #dff6dd;

        .icon {
            color: #107c10;
        }
    }
}