@import "mixins";

.work-items-grid {
    display: flex;
    flex-direction: column;
    height: inherit;

    .work-items-grid-menu-bar-container {
        display: flex;
        flex-direction: row;            
        margin-bottom: 10px;
        min-height: 40px;
        max-height: 40px;

        .work-items-grid-searchbox {
            margin-bottom: 1px;
            margin-top: 1px;
            height: inherit;
        }
        
        .work-items-grid-menu-bar {
            flex: 1;
        }
    }

    & > .ms-Viewport {
        display: flex;
        flex: 1;
    }

    .work-items-grid-grid {
        overflow: auto;
        flex: 1;

        .work-item-grid-cell {
            padding: 0;
            margin: 0;
            display: inherit;
            font-size: 12px;

            &.title-cell {
                cursor: pointer;
                border-left: 6px solid black;
                padding-left: 5px;

                &:hover {
                    color: #106ebe;
                    text-decoration: underline;
                }            
            }

            &.state-cell {                
                .work-item-type-state-color {
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    border-width: 1px;
                    border-style: solid;
                    margin-right: 5px;
                    display: inline-block;
                }
            }
        }
    }
}