.message-panel {
    padding: 16px;
    display: flex;

    .close-icon {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
    }

    .message-text {
        margin-left: 5px;
        padding: 0;
        word-break: break-word;
        word-wrap: break-word;
        font-size: 12px;
        line-height: 13px;
        flex: 1;
    }

    &.message-info {
        background-color: #f4f4f4;

        .icon {
            color: #767676;
        }
    }

    &.message-warning {
        background-color: #fff4ce;

        .icon {
            color: #f8a800;
        }
    }

    &.message-error {
        background-color: #fde7e9;

        .icon {
            color: #a80000;
        }
    }

    &.message-success {
        background-color: #dff6dd;

        .icon {
            color: #107c10;
        }
    }
}