.work-item-state-view {                
    .work-item-type-state-color {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        margin-right: 5px;
        display: inline-block;
    }
}