@import "mixins";

.work-item-grid {
    .identity-view {
        font-size: 13px;
        height: 16px;
        line-height: 16px;
        margin-right: 0;

        .ms-Persona-details {
            padding: 0 0 0 5px;
        }

        .ms-Persona-primaryText {
            font-size: 13px;
        }
    }

    .work-item-grid-cell {
        padding: 0;
        margin: 0;
        display: inline;
        font-size: 13px;
    }
}